body {
    font-family: "DM Sans", sans-serif;
    padding: 43px 100px;
    background-color: #FAFAFA;
    margin: 0;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start;
}

p{
    margin: 0;
}

.logo {
    width: 200px;
    height: 50px;
}

/* Section 1: Informations du photographe */

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.photographer-details {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.photographer-name {
    font-size: 64px;
    color: #D3573C;
}

.photographer-location {
    font-size: 24px;
    color: #901C1C;
}

.photographer-tagline {
    font-size: 18px;
    color: #525252;
}

.contact-button-container {
    margin-right: 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    background-color: #D3573C;
    color: black;
}

.photographer-portrait img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* Section 2: Galerie de médias */
.media-filter {
    padding: 20px 0;
    background-color: #FFFFFF;
}

.sort-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sort-section span {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
    background-color: #901C1C;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.select-selected {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px; /* Hériter de la bordure arrondit du parent*/ 
    z-index: 1; /* S'assure qu'il reste en haut de .select-options */
    position: relative;
}

.select-arrow {
    margin-left: 10px;
    font-size: 12px;
    transition: transform 0.3s ease;
}
    
.select-options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;  /* Garantit que les options déroulantes apparaissent sous l'élément sélectionné */
    left: 0;
    right: 0;
    background-color: #901C1C;
    z-index: 99;
    border-radius: 0 0 5px 5px;
}

.select-options .select-option {
    padding: 10px;
    cursor: pointer; /* On s'assure que les éléments enfants comme la bordure peuvent être positionnés correctement */
}

.select-options .select-option::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: #D3573C;
}

.select-options .select-option:hover {
    background-color: #D3573C;
}

.select-active {
    border-radius: 5px 5px 0 0; /* Bord arrondit seulement en haut */
}

.select-active .select-options {
    display: flex;
    border-radius: 0 0 5px 5px; 
}

.select-active .select-arrow {
    transform: rotate(180deg);
}

.media-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.media-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 351px;
    overflow: hidden;
}

.media-item img,
.media-item video {
    width: 100%;
    min-height: 300px;
    object-fit: cover; /* S'assure que l'image ou la vidéo s'adapte à l'intérieur de l'élément sans déformation */
    object-position: center; /* Centre l'image ou la vidéo dans l'élément */
    border-radius: 8px; /* Ajoute des coins arrondis si nécessaire */
}

.media-item .media-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le texte */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
}

.media-item-details .likes {
    cursor: pointer;
}

/* Section 3: Barre fixe en bas */
.fixed-bar {
    position: fixed;
    bottom: 0;
    right: 36px;
    background-color: #DB8876;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.total-likes,.daily-price {
    font-size: 24px;
    color: black;
}

.heart {
    color: red;
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent noir */
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

.lightbox[aria-hidden="false"] {
    display: flex;
}

.lightbox[aria-hidden="true"] {
    display: none; /* Cache la Lightbox */
}

.lightbox-content {
    position: relative;
    max-width: 900px;
    background-color: #FFFFFF; /* Fond blanc */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.lightbox-close {
    position: absolute;
    right: 20px; /* Place la croix de fermeture près de la flèche droite */
    background: none;
    border: none;
    color: #901C1C; /* Couleur de la croix */
    font-size: 2em;
    cursor: pointer;
    z-index: 1002; /* Assure que le bouton est au-dessus des autres éléments */
}

.lightbox-media-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.lightbox-prev, .lightbox-next {
    background: none;
    border: none;
    color: #901C1C; /* Couleur des flèches */
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 50%; /* Centre verticalement la flèche */
    transform: translateY(-50%);
}

.lightbox-prev {
    left: 0; /* Place la flèche à gauche du contenu */
}

.lightbox-next {
    right: 0; /* Place la flèche à droite du contenu */
}

.lightbox-media {
    max-width: calc(100% - 200px); /* Prend en compte le padding de chaque côté */
    max-height: 70vh;
    margin: 0 auto; /* Centre horizontalement */
    padding: 0 20px; /* Espace de 20px de chaque côté de l'image */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-media img, .lightbox-media video {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 8px;
}

.lightbox-caption {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #525252; /* Couleur du texte de la légende */
    font-size: 1.2em;
    text-align: left; /* Aligne la légende à gauche */
    margin-left: 100px; /* Aligne la légende avec l'image */
}


/* Modale */

.modal {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #DB8876;
    width: 70%;
    padding: 35px;
    margin: auto;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    width: 42px;
    height: 42px;
}

.modal header h2,
#photographer-name-modal {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    color: #000;
    margin: 0;
}


#photographer-name-modal{
    text-align: start;
    padding-bottom: 15px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: 100%; /* Assure que l'élément prend toute la largeur du conteneur parent */
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Inclut le padding et la bordure dans la taille totale de l'élément */
    resize: vertical; /* Permet à l'utilisateur de redimensionner verticalement, mais pas horizontalement */
}

form textarea {
    height: 150px; /* Définissez une hauteur appropriée pour le textarea */
}

.contact_button {
    align-self: flex-start;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #901C1C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.contact_button:hover {
    background-color: #D3573C;
}

#contact_modal[aria-hidden="true"] {
    display: none;
}

#contact_modal[aria-hidden="false"] {
    display: block;
}

@media (max-width: 768px) {
    .photograph-header {
        flex-direction: column;
        align-items: center;
    }

    .media-gallery {
        grid-template-columns: 1fr;
    }

    .fixed-bar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}